<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj się człowieku</title>
    <link rel="stylesheet" type="text/css" href="../static/css/upload.css" th:href="@{/css/upload.css}">
</head>
<body>
<div class="uploadContainer center">
    Hold your horses! <br/>
    Jak chcesz dodawać to najpierw się
    <a href="/login">zaloguj</a>..
</div>

</body>
</html>