<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div class="col-lg-2 col-sm-0"></div>
        <div class="col-lg-8 col-sm-12" th:switch="${activeView}">
            <div th:case="${T(pl.edu.wat.pze.kwejk.model.ViewEnum).GALLERY}" th:include="gallery" th:remove="tag"></div>
            <div th:case="${T(pl.edu.wat.pze.kwejk.model.ViewEnum).VIEW}" th:include="view" th:remove="tag"></div>
            <div th:case="${T(pl.edu.wat.pze.kwejk.model.ViewEnum).TOP}" th:include="top" th:remove="tag"></div>
            <div th:case="${T(pl.edu.wat.pze.kwejk.model.ViewEnum).UPLOAD}" th:include="upload" th:remove="tag"></div>
            <div th:case="${T(pl.edu.wat.pze.kwejk.model.ViewEnum).LOGIN}" th:include="auth/login" th:remove="tag"></div>
            <div th:case="${T(pl.edu.wat.pze.kwejk.model.ViewEnum).REGISTER}" th:include="auth/register" th:remove="tag"></div>
            <div th:case="${T(pl.edu.wat.pze.kwejk.model.ViewEnum).PROFILE}" th:include="profile" th:remove="tag"></div>
        </div>
        <div class="col-lg-2 col-sm-0"></div>
    </body>
</html>