<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body ng-app="pictureApp" ng-controller="pointsCtrl">
<a th:href="@{'/view/' + ${aPicture.id}}">
    <h2 th:text="${aPicture.title}"></h2>
    <h3 th:text="${aPicture.description}"></h3>
    <h3 >{{test}}</h3>
    <img th:src="@{/img/} + ${aPicture.path}"/>
</a>
<br/><br/><br/>
<div>
    <button class="btn btn-info" ng-click="pointClick('plus')">Dobre</button>
    <button class="btn btn-info" ng-click="pointClick('minus')">Słabe</button>
</div>

<!-- NI MOM POJECIO CZEMU TO NIE DZIALA. KURWA, W PROJEKCIE OBOK DZIALA-->

<script th:inline="javascript">
    /*<![CDATA[*/
    var app = angular.module('pictureApp', []);
    app.controller('pointsCtrl', function ($scope, $http) {
        $scope.test = "test";
        $scope.project = {
            picId: /*[[${aPicture.id}]]*/ null
        };
        $http.get('/api/picture/' + project.picId).then(function (response) {
            $scope.points=response.data;
        }, function (response) {
            console.log(response);
        });
        $scope.pointClick = function (action) {
            $http.post('/api/picture/points/' + $scope.project.picId + '?action=' + action).then(function (response) {
                $scope.points = response.data;
            }, function (response) {
                $log.error($location.absUrl() + ": Post error - " + action + " action");
            })
        };
    })
    /*]]>*/
</script>
</body>


</html>