<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj się człowieku</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/main.css" th:href="@{../../../static/css/main.css}">
</head>
<body>
<div class="defaultContainer center">
    <p class="whiteCentered">Uspokój się<br/>
        Jak chcesz odwiedzić to miejsce - najpierw się
        <a href="/login">zaloguj</a><br/>
        ..albo <a href="/register">zarejestruj</a>
    </p>
    <img align="center"
         th:src="@{'data:image/png;base64,/9j/4AAQSkZJRgABAQEASABIAAD//gAyUHJvY2Vzc2VkIEJ5IGVCYXkgd2l0aCBJbWFnZU1hZ2lj
aywgejEuMS4wLiB8fEIy/9sAQwAGBAUGBQQGBgUGBwcGCAoQCgoJCQoUDg8MEBcUGBgXFBYWGh0l
HxobIxwWFiAsICMmJykqKRkfLTAtKDAlKCko/8IACwgBLAEsAQERAP/EABwAAQACAgMBAAAAAAAA
AAAAAAAGBwQFAQMIAv/aAAgBAQAAAAG1AAAAAAAAAAAAAACOyIAAYmkkwAA+PtVFrgACvK3vDdgA
Gly8+hb4+nzx9gBX+JZYAA6qxtOkbDlaJb3YABRVzZ4AAVZvfmvb6VfZ30AK501vgAA6qKl0Dsqf
VLaGUDX7BCams2wgAAMakNDg2/jS2QiG5upm1WVft7/2QAAD5pKCLDzNv363e071zSJa3q2XoDbA
AAGu80/POTzjfLhMrlpTf2HvAAAApuITqsNg5cc21PY7iS0AAAGg0UlpDXcDn0JswAAADUcbjzpo
A7vTveAAAACsak4Eh9EgAAAAVdXUur6xY/r/AEoAAAABU+ktvzd6fr+tfSgAAAAFTx+3YfNq+gPp
QAAAACp6t5cNp6WAAAAArKo+Bs/S4AAAAECpIOz1LyAAAACB0lwc7r0FmgAAAA48t9Rt/QewAAAA
AavzzgbK254AAAAAOqqJrJfoAAAAAMTJ+gAAAAAAAAAACKyPvdcDsDXxGfRTrl4AAACrYxeXf1Uj
eeoqy6oF9TsAAABVG9gd3/VK3frqluuC5kuAAAAVFZeorK66fuvCp67oRtpCAAAAp6z9lF6wz7ox
aXvLD7+0AAABTNpbRGYPb2NSF8QLOl4AAADVbDtOjvfP0AAAAAAAAAAAAAAAAAAAAAAAAAAAH//E
AC8QAAEEAQIEBAUEAwAAAAAAAAQBAgMFBgBAEBIUNRETIDQhIiUwMhUzUGAjJHD/2gAIAQEAAQUC
/q8Zcj73YdRH1Jh6Q2+we9rG8BZVTM9hl/NEw+aa1Kp+oSv+/dN56oAhpQmrGbpsmaqOTg5Ua1jk
e37eZvRK3EA2uA2EjEkjxshQD9ZjFyWmMl9VV8Mon8inrmqyv+3kBbrK0AHaIHscwCfzY9cNOjy0
NSK7GT+isOGbSfK38ftZRb9O3D6/nl2UsbZY7uskqiqW/YQy7r1rzcWtOqg1nH7osnmjeoudYV4X
12wFoAsliXEWh0mzJgjJhvKSSvc42Z4cUj4pKPIY5Y82i8Ycfm86n9GTDo8GlObPUVxP6tbyyMij
uck8dKqqtbC0ogAOEKDaKiKmVVrQyeARbT6XE7BIIH5QOopdpLDRhZFF1LMgDkIsTZTSULl6SG+h
rwyjC7GWaJ8MiJ4rXiqWaAK4Ru1sBmlhuTldwGneMQXL55Kqq+mgACMkEBHDZc1kg1jjFbERH0DW
2W3t6FYQasNTjchoYoB/DXRz8jhka1YYEa6EfwUZvK4KdG4i1Er9FjolmOJIFbbi/f5dPjFU0WG3
Y6St83kiWQdEUr4OMlcimTKjilcnmju1V9v3dsOpVdWmIVBq9GUa09MTFklgjSGHfZtCzyfTj/L+
s7/OH/JXhyHkk4zLANqHF5ZYLeomrEqe6b/OPzxDvFx2rQvts39rU903+c/nij2x2xJAJA6VVFph
gbWZkRFNBU903+cfn6avue/zdn+D01nct/mfavTGvK9qo5N9k45ZsfpZXyOrAkVoe+X4JI7nk411
fPYTAjNFE/gJgBZIXCTozQQJBusQE8iv/gmxsa3IaFsEWOCoNUtajf4QuBCR2tRrf6Ld2a1skErJ
4uEi8sdPfuPN1YTqMFQ3ctkZrIj5q8THLCexg3WcfjTWc1TPBKyeLU37WId51bp41eF9z1mfasNb
4VW6zhfmLqWWVTVWM9MXBKyeKX9rD+76sU8QML7prMu04q3lpN1m/uK3t15UssYqqxnpi2yxzjYa
n1bRvs8N7rrMOz48nLTbrN1/3KzturupjsoaywnpicM7pov2uHr9Y0UNEVFFG2KPdZqv1Cr+Nbwu
6mOyhxOCQe50T7fE18LrWWEkDw4vPNPXbouuFLfFG2KPj5TPO4IiJ/yj/8QAQxAAAgECAgUIBQoF
AwUAAAAAAQIDABEEEhAhMUFREyIyQGFxc7EUIFBywQUjM0JSYmOBkdEkMENggjRwkpOhouHw/9oA
CAEBAAY/Av7Xlwurkkhzd5v1H0fN87lzW4isLh2kREKMz5j+nUbsbDTLmfaSu3s2dRwmLiOWSJ7A
/wD3dUuJEZ1Bbgbt3nUS4wWlAtt2jqGKA28mTUU67HW+iSX7Et9dAjYdJLGwG+gykFTrBH8yNd7S
VNJKtxI429n/AL6iyN0WFjU/ybiCelzO/QJN0iCo79OPmNplttk5lYZG1FYlB/T+YIYOciHk0tvP
GooF2ItupR46IHm817buBoQzG2JUf865VBd4Tm/LfQEhtDLzW7OGnCxW2kteh/LOEwzfPHpkfVFH
GSDmpqTtPU2SQBkYWINCSAtyJN0cfV7K9G+USMx5uc7G76ZP6Ta0PZXo0x+fjGr7w0YTub4VFJ9t
A3rwZQCZJAmvSYoCHxJ/8KOd7L0pZW3Ck+T/AJLBTCR/SSjVq4DqjRTKGRtooyRXfDcd699ejSEP
GDdc21e6g8bFXGwilhxz5Jtgc7GrDTa9RK1hmNrhcurs1eq+I5aWNoRzcraqjnlk1oLSMeymxCX9
Fwwsl97HfReRgiDaTRi+TtXGX9qudtCCXEiCNuO+hFh1svHeeq2IuKWaBMsMm4bA2mT5Pmb+IXXD
f61t1YmCW/MHKKANfbUjxRtyw1Kjb6SeZokxcmV0RN4uPhWLfENJyJsYl3jsqJVkAjZSWZtVjw86
klkY2Y6lvsFDC5ssGbMbb6GH+T4CSNrybzxtQ5V3kbcg/ajHILONorVUeHvlLHhsoxCTPAOgG2r2
dWlgf6w1d9EHaNKTRnnob1JKECZzfKN1az6oXFYi0hPNiGq/51bDRKnbvqOLNyjT6wx3sdtYkz35
RGCqRtU8RSYtLZ8mST73b39YOKRiZBzpF/ao4FNr7T2U+KwpyKvSj2/pozNHkXbzzl86u2IgvwBJ
8hR/iQTwCGjlxWvgUNEriIW7NY8xRYJnUb0Obyoq8RWRXvzl0YbF8nyn9Ljk4NQXDZ/RJVZ3U7Fb
s6ziz9y366qXFOc00q6vuisQiJnYr0eNWOKSPV0IF1/maOWF3b7Tv+1WWGBf8P3q3Mt2RrRByWP4
a0Q0UBv9y3lX0LRvxR/3/esPd2k5gOZtp65PCnSZdXfX0bRSLqZGFraJ1K5VLFl7j6yoNrG1JGux
Bl6/h5rfOZsn5ethc+zP7AwicSx8qWCG2Y7zuqWY4hDkUtYDRHJ6QgzKDbLspDI6Or6gRWD8ZPP2
Bg+5vhQ9w1i/Cby0Re4Kw3vnyrB+Mnn7Awfc3woM7BVyNrJqSGTFQ5XFjaQV/qV/6woKMVBYC30g
rDCGWN+cei16wfjJ5+wMH3N8PWwnjJ5+wMK9tjEethfFXz9gJ4o8j6ykG1jQI2Hr6Q4aK6J84x49
g9Z8b9QPltbbUAbUwQX/AE9gM3E39TJhxs2sdgqOBdiC3f7BaMwRWIt0KkfknMaNlL21aH9HjL5B
c0Zz05j+gHsMqqKFO4CmxOCFkGt04doqG3SkHKN+dahb2I8LMyq+o5eFBVFgNQ/sbCsRmickOKWS
JgyNrBGlm4C9LAcOEuCb5tE0ygEouaxpopIkUBM2rRHLBkuXynMKlkxAQZWyjKOt4P8Ay+FZJlbk
G1sh3dopZImDI2sEaH7qHuHRix+E3lUnhHzGhPFHkaY/akPW8IOxvhWGIsuIWJcrflsNNBiFbkr8
9OHaKWSJgyNrBFP3UfDOjEj8NvKn8I+Y0DxB8ah7Sx/79bwvumsL4S+VXFlxC9FvgaaDEK3JX56c
O0VykTBkZdRFP4Z8xon9xvKm8M/DR/mKwvu363hx9z41hfCXy0arLOvRf4Gnw+IVuS2OnDtFS+Ef
MaJvcND3Do5LEJnTbaljjGVF1AdbhH4fxrC+Evlp3LOvRf4GsRFMuV1j1j8xol901H2q3low5wru
hLG+Wi2JdnfOdbdbz4iFXa1rmljjFkUWA9Tlco5S2XN2adQ/2o//xAAsEAEAAQIDBwQCAwEBAAAA
AAABEQAhMUFREEBhcYGx8CCRocFQ8TDR4WBw/9oACAEBAAE/If8Al7IAoZqL+zuOPEtWRkSa0nAw
A9zydxiWlCXixtnEC94jD8DcS8oU5STSOmBcBsPdfNGNJSuYLTxyeW4LLYBjUv8AVYLoRo5nvsRk
LNrK1KXJSOptEIKVYBQ31EJEc/5G7hY6DRWTgYEvHxluJbyouDQBiu/D9iHYs8KBbCLVcRcWZbYP
tG1wokDLrj8UKkJNEH8mG4Cpmb9T2rBFUtXN953LDSBMcH/D2rHXOuAMzjqUD+QT+j0oPeUTN796
Nn+Pqgj5r4n8dtMeOMubWh46cx6ffDc8iKBkq85pLrU60FFtAtto0PxRdHqfR0wqEzouT9myzzr0
A+x7kT6yyHOosyqdDaVwotc4njwrUH5tnK60BqgNg9zWjcwrtCVJA23xP7UZmCxPNacKQdsrhKBU
H2Q5NGZJtuEJP1SNLj8GQelSyKIGqYmuVAS4EHM9IaUAFmIcb7J+KFfMrgKWeRgpd5fumSKmVc6e
UArOF2nnWbznEuq7qyEhCODUAp36C4T/AHttpS44hzZUEDEmy0Bm4URipgMs5MipYbAi7YMuaaFh
lQNi8Kw6qcpI8NK4LCBlFQreTzGMdcMK0JePlH90HIm1schWA7qZNIAFWwFX+IFZWGdNp7qcszTd
hcEc4Mj70oOEh2CjJjUd6DaE81ysqjZGCCXA9KIYSSuaHakj+Msrm4tTYwLFMjkvRrFI4FeTWaLk
xSEZIs1G8S5QXhdx5Joet9TIY0m65SRdiVljRJgJajloLgkcM1JAoTMX3Cmi12uT1ipECCwU96tB
+pn2Kz8IMD5UtgM4JEsinPY8tcRiMh1s86YHFGzDFq6c954qryc6hHCjJbxzwoXLMJik4cutrZEd
2ipCcE6wDvTzKpFivvKlrSiGB9UraCH9FQsxiFnwpFMdg5B5SaBJ2dQhN980vp1DIfFFrJFqfDhs
g/mzCaSPVhLs81isG6jkEb/lCKWsJv5r6oLLInWGPmPwEH+UYfdW6Qrggzav8GLeCdk8LM1iJinC
EyMzxK8xp/A5OD1OnD+Etlvm2pWuJTzGn8CkFrSQgtU6H4mw9aRYZqj3EP31DJVYoWNK8Rp/DZeU
0/gDcak+YP16lC+cfwwBZUAyZUhYhIme/ujnpQlgajjTZv6Q5MIiXE+8Ud6DDiMN/cjpWU03oNCs
JtB41c/KnVm+/wCAb40KGgQLUaUYTgjsQP6j+fChuGR1AHvP4N0SKgBXGnyYkzDscKixjDVwfEUB
BCZg/CA6CVQuY6lutEgFAZH/AA0Dk4xi1yhvtqW2GCZIVZ3UZxBpGxL7xgMUszkmziH3sLFY4CIX
XhUbiJIylz3t2ONUpiDEJFul70N9tS2XHx9qE8HY8bu42sBLaUnH1fAb31sU5s7XZ0O1YWgvi/Dn
Q321Kvme1GW07ps4id5S6uwB5+VJx+4f1vbseclOW8Y1b+vP+jtWFjL4vw51M25zVdB2QZPXvKcF
r39gSrYP3qF+SrvfITaeV07JhBud9HapLYqcV4c6gvsDwOlQBqfbY3AqSqXOVFzBDwDe5tJ91OX4
w2ySzeRlSonxNl4rSuURsBhkeexUHy2bEG9hR+GSYqAzRsg9DGtr1Lpj42NYIHI/8o//2gAIAQEA
AAAQ/wD/AP8A/wD/AP8A/wD/AP8A/wD/AP8A/wA//wDb/wD9/wD/AP8A/wD/AP8A/wDd/wDf/wD9
P/8A/wD/APT+vP8A/wDI+m//AP8A/wBYX/8A/wCIeP8A/wD/ACAv/wD/APkm/wD/AP8A/wD3/wD/
AP8A8/8A/wD/AP8A7/8A/wD/AP8AP/8A/wD/APxn/wD/AP8A9P8A/wD/AP8A7/8A/wD/AP8A/v8A
/wD/AP3n/wD/AP8A9/8A/wD/AP8Ay/8A/wD/AP8Aw/8A/wD/AP8An/8A/wD/AP8A/wD/AP8A/wD/
AF//AP8A/s+//wD/APG9/wD/AP8A8Pv/AP8A/wCyT/8A/wD9z7//AP8A9+//AP8A/wD/AP8A/wD/
AP8A/wD/AP8A/wD/AP8A/wD/AP8A/wD/AP8A/wD/xAAsEAEAAQMDAwMEAgMBAQAAAAABEQAhMUFR
YRBAgXGRoSCxwfBQ0TBg8XDh/9oACAEBAAE/EP8AV5J2bhyDyBBHnsHFIzzL5SqRtBGQZKMWjBVI
Mlr+p2KI6RikAeVDz0aDsKuCDe5gNw7FHJUL2STCThymtKIPXNJib6A3VXqTiwCpkhGBvKdewSAs
rhBinmiO5QTbhHcCeKaCbVxoyTBfDNqN0UfCEj7dX2adgBKroBQenuBpAlkRGf8AI59xPC1+T3oi
2lyiQOE+aR2HOaWiRPZanioL4MhsRnJu9HgBoRK+LrgfNEfOdIgZHMr5GnUCUkgUeG7Brjwook9z
/G4rT4tQwLwEmgahekA9fzJeey2ii5ZJy+W7SKXSiQDkLTeDdLTDMEoi3KLcMRNsqhpUVxLd9FC6
CpCSX6R3YaliFhzO/FQt7ft9c9ZpFTekbF0JPQ5Sndhm0FI9MMHNBjsktqIlRCNEZKQBbwMDR1OR
oaTw/YCRcibKbxqkk64su6cyl4daNGcN4QfAO5De8UlRkWg1YQNg/wAvpmhmp0wwwCCZRWOOi0ra
0ESzy6jzbZsEC5qrtaTYHLwNPd0Yt5yLEndlYgVAABAadn9kS40ciNxLjWk1pmVtD7As8NqHG2Rb
UlkWtxtFAJE5XuJSQKCIOLOK1DMDbeKQ5CQmKCu8273pHkwKxNE7Mh9fpead8SpAlUwZImkVXvpC
urlZDu1CwSSCFPQIyDhLUUOBz8rQ90Mb0LmPVfYM0p9SUqbqurUkrpgsAepCgvrMJdBvn5LPwYIO
1d5YcQciOSjgsAIBkGgQhuQtbqle+0NBsYQgbogYqFMLBhGcsKJxOAagKoqLK9HAyWWwZkO1CKly
C5BkXpUh2GMghu3lYsb0WDqVzCm0oLPyoUyZKSNsxY11Zdak9QCZjJvsAJhN8xDUgVRMy1VnQhAB
eKifLfm2tp5ieaY0+WFimGNSbmjZvSZ3AJVcAUZ0ktcFgI6RxNQrsTKTMs7drrly4FHaphGE0pPk
g1NAQtkYegJEDIjcpBZilumR3EkTUWhln9aTBY+1YbdMMGA2OKKnqsCQYYKyQ0wp9KWB4I8w+xNJ
R5E9MhhPWbJmhcqUTw0YBuMEjTjm68LIYRABtCPBIR2zWdI/AOyG0COQXiixaHyElRqwQG7QyxCk
A6hCFmSDJTEpMAStDQExCgmQh4QM0PAQJqMTIerFF0huKlibHrQG2FHWwkPerF9WHpYJ81oIkObs
oHrU5OF0EDGgLOnNOKckwlpJC8ESTYphmYqd7SDFJIXOBXgjuLCT8qKI+4gY2DdFzpg1WVgvoReJ
EdNEnFIQPl2DhGM67zJUPMcuIMGLOJfNIdVaSkiREPM01lRIwkZJ/NMRxJJDs3lOroPXAOSiJhjN
kGYvYFbNA6oDc3hjLjvI+FSjAEzhQeamkefWREgGxhPMNqcUGzNIIThkjRE+rZFnmwH3pl1bXKIf
bvY6JnCAYhFHUwlr67qfpbeKKJjv4+1fiAffUVFTEz0Eu2NUqf16GlkCtrG3SeDSgwJEbxMVEP6E
ASiFrbLWrqzv/wBhvVQlhrkgfxUHQ79DQh7B8achkMyL2/8Ar+Bd/oN6wj5ktmVsUGRaNBDDqqJx
JKU/ioFeNRgIPhTcEyvYEyY1pQrgqzv/ANhv9Vx/AQzZW7wEY/vDTn6eIl/gEkkXIfqEACLQoRke
KEix6QNxO/FJAemI0zAuIjF5oKARGEdPoM0dkt4g6pgEOVatAY7ACPM9/wADlqYQUMaSr+foNKE7
KYVu6Bd8NG+QQckHKXz/AAAAgEbI0ikaCzIkQETNkqyq124ixbJnemmVCxMAGAuVeMmGlkF1mVK8
wfkNP4NOAvBVSBCqs7zUke5Ya8l4aqYLliKilhQYQCPEHjmm7qmEErK+VXz/AAkcStFEuowSLhUH
o4UAEAcB/owQxWWkiu5Kxri2QM31JB+HRG42erhCMTEwLFA1VH3pyEz69E0OoiCYYvQRfbsgwyxF
1FG2CDTLaBeaPRIyLbJK3O789vio6N+kAkDqodhHCBmGpIPw6I3Gz0AphN91SiC/+A/PVRmMa9LO
BFutqbNQye4fjd2DaScrNChB1LGaxlaOUyaj/wAyasUxDawjhATDUkH4dEbiQ1+t3VbSZfp0ZuJg
1QHsOhI2zVfpUl3abZp7/wBVI1lai7wtiA55Fo5VzUf+DiGKYjFhHCSqMZIEfZ0RuNmiU4/sdCdw
Jowp0VLbvHYfmhHIn9k57uS4+7L+ughJq/J9jDgy/dXNR1JFCRBPacNrDwhAXhB6dxJJ+TWDP75+
OiIGgBSRlDRyb4lYDu+Bt9/66jYgftXSCkYIbH5sZfuNzUR8z36KOo5EsnQye/39RpY8pc/jpn0o
gBAbetAsh5LMISYu92GlSQBVCRNV96LAiBQ0Bfj6EWy0EThN1JDx5egERJGlizWICP8Ayj//2Q=='}"
         alt="wubba-lubba-dub-dub"/></a>
</div>

</body>
</html>
