.article-item {
    background: rgba(9,14,9,0.65);
    color: white;
    font-size: larger;
    word-wrap: break-word;
    border: groove rgba(87,96,97,0.69);
    /*margin: 2% 10%;*/
    padding: 1% 5% 5% 5%;
}