.gallery-container {
    /*background: #2c2d35;*/
}

.gallery-item {
    background: black;
    margin: 2% 10%;
    padding: 1% 5% 5% 5%;
}

.gallery-item img {
    width: 100%;
    margin-top: 1%;
}

.gallery-item h2 {
    color: white;
}

.gallery-item h3 {
    color: #333333;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(14,32,36,0.95);
    max-width: 300px;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: rgba(230,210,160,0.95);
}