.errorMessage {
    color: rgba(213,6,0,0.93);
    font-size: medium;
}

.succeedMessage {
    color: rgba(71,143,40,0.69);
    font-size: x-large;
    text-align: center;
}

.uploadContainer {
    background: black;
    margin: 2% 10%;
    padding: 1% 5% 5% 5%;
}

.center {
    text-align: center;
}

.description {
    resize:none;
}

.article-hide {
    resize: vertical;
    display: none;
}

.article-show {
    resize: vertical;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border-radius: 5px;
    border: 1px solid rgba(8,19,13,0.95);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #3498db;
}
