<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>BŁOND</title>
    <link rel="stylesheet" type="text/css" href="../static/css/error.css" th:href="@{../static/css/error.css}">
    <!--To się ładuje zamiast whitelabela, jak ktoś wejdzie na nieobsługiwany endpoint-->
    <!--ale cssy nie dziają-->
</head>
<body>
<div class="whitelabel">
    <p>Nic tu nie ma...</p>
    <img src="http://j.gifs.com/vb20nr.gif" alt="Nic a nic" align="center">
</div>
</body>
</html>