<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>kwejk</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">
    <script type="text/javascript" th:src="@{/js/voting.js}"></script>
    <script type="text/javascript" th:src="@{/js/comments.js}"></script>
    <script type="text/javascript" th:src="@{/js/upload.js}"></script>
</head>
    <body class="main">
        <div th:include="layout/header"></div>
        <div th:include="layout/body"></div>
    </body>
</html>