<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Dodaj coś fajnego</title>
    <link rel="stylesheet" type="text/css" href="../static/css/upload.css" th:href="@{/css/upload.css}">
</head>
<body>
<div sec:authorize="isAuthenticated()" th:include="fragments/upload/logged"></div>
<div sec:authorize="!isAuthenticated()" th:include="fragments/upload/unlogged"></div>
<!-- switch na artykul - do zrobienia -->
<!--<div inp type="" contentEditable="true">asdasda <img-->
<!--src="http://t2.gstatic.com/images?q=tbn:ANd9GcQCze-mfukcuvzKk7Ilj2zQ0CS6PbOkq7ZhRInnNd1Yz3TQzU4e&t=1"/>-->
<!--</div>-->
</body>
</html>

